html,
body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

i,a,h1,ul,li {
  transition: .3s ease-in-out;
}

a {
  cursor: pointer;
  color: inherit !important;
}

ul, li {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: .3s;
}

i, a, button, select, div {
  text-decoration: none !important;
  outline: none !important;
}

section {
  margin: auto;
  overflow-x: hidden;
  padding: 1em 1em 0em;
  transition: .3s ease-in-out; 
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300 !important;
}

footer {
  margin-top: 2em;
}

::-webkit-scrollbar { 
    display: none; 
}

.portfolio-item {
  align-self: stretch;
  width: 20em;
  height: 10em;
  overflow: hidden;
  box-shadow: .2em .2em .3em rgba(0,0,0,.5);
  margin: 1em;
  text-align: center;
  border-radius: .3em;
  transition: .3s ease-in-out;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.portfolio-item:focus,
.portfolio-item:active,
.portfolio-item:hover {
  transform: scale(1.01);
}

.portfolio-item:focus .overlay ,
.portfolio-item:active .overlay,
.portfolio-item:hover .overlay {
  opacity: 1;
  transform: scale(45);
}

.portfolio-item:focus .content ,
.portfolio-item:active .content,
.portfolio-item:hover .content {
  opacity: 1;
}

.overlay {
  transition: .3s ease-in-out;
  width: 1em;
  height: 1em;
  background: #089ee5;
  border-radius: 5em;
  position: relative;
  opacity: 0;
  z-index: -1;
}

.content {
  width: 90%;
  height: 80%;
  background: rgba(0,0,0,.3);
  z-index: 1;
  margin: auto;
  border-radius: 0.2em;
  opacity: 0;
  transition: .3s ease-in-out;
}

.resume-img {
  background: url(http://i.imgur.com/PF5imjLh.jpg);
}

.blog-img {
  background: url(http://i.imgur.com/jwpYs2zh.jpg);
}

.landing-img {
  background: url(http://i.imgur.com/tHvkrGWh.jpg);
}

.meteor-img {
  background: url(http://i.imgur.com/IXeTDowh.jpg);
}