html,
body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

i,a,h1,ul,li {
  transition: .3s ease-in-out;
}

a {
  cursor: pointer;
  color: inherit !important;
}

ul, li {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: .3s;
}

i, a, button, select, div {
  text-decoration: none !important;
  outline: none !important;
}

section {
  margin: auto;
  overflow-x: hidden;
  padding: 1em 1em 0em;
  transition: .3s ease-in-out; 
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300 !important;
}

::-webkit-scrollbar { 
    display: none; 
}

.portfolio-item {
  align-self: stretch;
  width: 40em;
  height: 20em;
  overflow: hidden;
  box-shadow: .2em .2em .3em rgba(0,0,0,.5);
  margin: 1em;
  text-align: center;
  transition: .3s ease-in-out;
  position: relative;
}

.portfolio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.background {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  transition: .3s ease-in-out;
  z-index: 0;
}

.content {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0,0,0,.6), black);
  z-index: 1;
  margin: auto;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s ease-in-out;
  color: white !important;
  z-index: 3;
}

.background-covered {
  transform: scale(1.2);
  filter: blur(.1em);
}

.content-visible {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0);
}

.resume-img {
  background: url(http://i.imgur.com/PF5imjLh.jpg);
}

.blog-img {
  background: url(http://i.imgur.com/jwpYs2zh.jpg);
}

.landing-img {
  background: url(http://i.imgur.com/tHvkrGWh.jpg);
}

.meteor-img {
  background: url(http://i.imgur.com/IXeTDowh.jpg);
}
.resumebuilder-img {
  background: url(http://i.imgur.com/zLs8iqFh.jpg); 
}

.more-btn, .site-btn {
  border: 3px solid white;
  padding: .5em;
  margin: .5em;
  color: white !important;
  width: 9em;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8em;
  cursor: pointer;
}

.more-btn {
  right: 0;
}

.site-btn {
  left: 0;
}

header {
  font-size: .8em;
}

header>h2 {
  font-weight: 500 !important;
}

.description {
  margin: auto;
}

hr {
  margin: 1em;
}

.portfolio-hidden {
  opacity: 0;
  transform: translateY(100%);
}

.item-details {
  max-width: 60em;
  width: 90%;
  max-height: 90%;
  margin: auto;
  background: radial-gradient(rgba(0,0,0,.6), black);
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -300%);
  color: white;
  border-radius: 0.5em;
  padding: 1em;
  overflow: scroll;
} 

.item-details-visible {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.item-details-close-btn {
  font-size: 2em !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.1em .3em;
  cursor: pointer;
}